@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using (Html.BeginForm("QRcodeDisplay", "Home", FormMethod.Post))
{
    <input type="text" name="inputText" />
    <input type="submit" value="Generate" />
}

<hr />
@if (ViewBag.QRCode != null)
{
    <img src="@ViewBag.QRCode" style="width:200px; height:200px;" />
}

<div class="row">
    <div class="col-12">
        <img src="@Url.Action("GenerateQRcodeData")" alt="QRCode" style="width:200px; height:50px;" />
    </div>
</div>